/* This is the style sheet for the Weather Site  */

/* Table of Contents
1. Imports
2. General Rules
3. Mobile First Rules 33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333
4. Larger Screen Rules  */

/* Section 1 - Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General Rules */

html {
    box-sizing: border-box;
}
/*-----------------------------------*/
*, *:before, *:after {
    box-sizing: inherit;
}
/*-----------------------------------*/
body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
}
/*-----------------------------------*/
h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }
/*-----------------------------------*/
header {
        background-color: #0e89d5;
        width: 100%;
        height: 50px;
        padding-top: 1px;
}
/*-----------------------------------*/
#low{
    color: blue;
}
/*-----------------------------------*/
#high{
    color: red;
}

.highlow{
    display: inline;
    margin-left: 5px;
    margin-bottom: 10px;
}
/*-----------------------------------*/
body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;-
}
/*-----------------------------------*/
h3#temptitle{
    margin-bottom: 15px; 
}

h3 #wind{
    margin-bottom: 1px;
}
#pointer{
    width: 100px;
}
#rotate{
    transform: rotate(210deg);
}
/*                                  */
nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
/*-----------------------------------*/
nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
    font-size: 17px;
    color: white;
}
/*-----------------------------------*/
footer {
    margin-bottom: 60px;
    background-color: #0e89d5;
}
/*-----------------------------------*/
.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}
#cur-weather{
    background-image: url(/Weather/Images/raindrops.jpg);
    background-size: 1200px;
}

/* Section 3 - Mobile First Rules */

#site-brand {
    font-size: 2em;
    font-weight: 600;
}
/*-----------------------------------*/
#logo {
    width: 50px;
    float: left;
    padding: 2px;
}
/*-----------------------------------*/
h1 {
    position: relative;
    margin-top: 3px;
    font-size: 30px;
}
/*-----------------------------------*/
h2 {
    margin: 5px;
    font-size: 35px;
}
/*-----------------------------------*/
#info {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
}
/*-----------------------------------*/
h3 {
    font-size: 30px;
}
/*-----------------------------------*/
#current {
    font-size: 60px;
    margin: 0;
    font-weight: 500
}
/*-----------------------------------*/
#mph{
    font-size: 20px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.windinfo{
    font-size: 12px;
}
/*-----------------------------------*/
#rainpic {
    width: 300px;
    margin-bottom: 10px;
}

#forecast ul {
    overflow: auto;
    overflow: scroll;
    white-space: nowrap;
    margin-top: 0px;
    padding-left: 5px;
    font-size: 15.5px;
}

#forecast ul li{
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}
/*-----------------------------------*/

/* Section 4 - Larger Screen Rules */