/* This is the style sheet for the Weather Site  */

/* Table of Contents
1. Imports
2. General Rules
3. Mobile First Rules 
4. Larger Screen Rules  */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');
/* Section 2 - General Rules */
html {
    background-image: url("/acme/images/site/background.jpg");
    background-size: cover;
}
/*-----------------------------------*/
*, *:before, *:after {
    box-sizing: inherit;
}
/*-----------------------------------*/
body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    width: 90%;
    margin: auto;
}

.hide{
    display: none;
}
nav ul {
    display: flex;
    align-items: center;
    margin:0;
    padding-left:10px;
    height: 40px;
    background-color: #de2226;
    font-size: 17px;
    color: white;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

h1#welcome {
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
}
/*-----------------------------------*/
#logo {
    margin-left: 20px;
}
/*-----------------------------------*/
#imageTile {
    background-image: url("/acme/images/site/feature.jpg");
    background-size: cover;
    height: 200px;
}
#adtitle {
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}
.adDesc {
    text-align: center;
    font-size: 9px
}

ul#ad {
    list-style: none;
    padding-left: 175px;
    margin-top: 0px;
}
h1#welcome {
    margin-bottom: 5px;
}
#actionbtn {
    width: 130px;
    padding-top: 10px;
}

h3#rocketReviews{
    text-align: center;
    margin-top: 5px;
}

#liReviews{
    font-size: 13px;
    padding-left: 30px;
    margin-bottom: 0px;
}
#featuredRecipes {
   margin-top: 5px;
   margin-left: 81.0685px;
   margin-right: 81.0685px;
}

.recipe_images{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #808080;
    width: 44%;
    margin:10px;
}
#recipes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.recipe_caption {
    text-align: center;
    background-color: white;
}


 footer {
     font-size: 10px;
     width: 100%;
     text-align: center;
     border-top: 5px solid black;
 }
/* Section 4 - Larger Screen Rules */
@media screen and (min-width: 800px) {

    nav ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 10px;
        height: 60px;
        background-color: #de2226;
        font-size: 22px;
        color: white;
    }

    nav ul li {
        list-style: none;
        margin-right: 20px;
    }
    
    h1#welcome {
        margin-left:-85px;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 50px;
        text-align: left;
    }

    /*-----------------------------------*/
    #mainContent {
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 50px;
        background-color: white;
    }

    #imageTile {
        background-image: url("/acme/images/site/feature.jpg");
        height: 400px;
        width: 115.3%;
        margin-left: -90px;
    }

    #adtitle {
        padding-top: 15px;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 58px;
    }

    .adDesc {
        font-size: 28px
    }

    ul#ad {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-left:70%;
    }

    #actionbtn {
        width: 370px;
        padding-top: 10px;
    }

    #bigDiv{
        display: flex;
    }
    /*-----------------------------------*/
    div#recipes.section {
        margin-right: 0;
        display: flex;
        order: 0;
        margin-left: -70px;
        width: 50%;
    }
        h3#featuredRecipes {
            margin-left: 135px;
            margin-right: 81px;
            align-content: center;
            height: 20px;
            font-size: 30px;
        }

            ul#roadRecipes {
                list-style: none;
                margin-left: 10px;
                padding: 0;
            }
            .recipe_images {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #808080;
                width: 40%;
                margin: 10px;
            }

            figcaption{
                width: 100%;
            }
    /*-----------------------------------*/
    div#reviews.section {
        display: flex;
        order: 1;
        width: 50%;
    }
        h3#rocketReviews {
            align-content: center;
            font-size: 30px;
            }
        
            #reviews{
                display: flex;
                flex-direction: column;
            }
                #liReviews {
                    font-size: 20px;
                }
    /*-----------------------------------*/
    footer {
        margin-left: -90px;
        width: 115%;
        font-size: 20px;
        text-align: center;
        border-top: 5px solid black;
    }

    /*-----------------------------------*/

    }